

.carousel-container {
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
    gap: 30px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    

}



.left-arrow {
    left: 0; 
    padding: var(--padding-10);
}

.right-arrow {
    right: 0;
    padding: var(--padding-10);
    
}





.carousel-item {
    display: none; 
    
    height: 100%;

}

/*Self love carousel*/

.love-container {
    position: relative;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}

.love-carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.love-carousel-item {
    min-width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}



.button-container {
    gap: 15px; 
    padding: 10px 0; 

}









