/*.carousel-container {
    padding-bottom: 10px;
    gap: 20px;
    flex-wrap: wrap;
} */


.carousel-container {
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
    
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    z-index: 3;

    -webkit-appearance: none; /* Had to add this, because iphone was adding arrow*/
    appearance: none;
}

.arrow::before,
.arrow::after {
    content: none;
}

.left-arrow {
    left: 0; 
    padding: var(--padding-10);
}

.right-arrow {
    right: 0;
    padding: var(--padding-10);
}





.carousel-item {
    display: none; 
    
    height: 100%;

}

/*Self love carousel*/

.love-container {
    position: relative;
    max-width: 350px;
    margin: auto;
    overflow: hidden;
}

.love-carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.love-carousel-item {
    min-width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}


.prev, .next {
    position: relative; 
    margin-top: 10px; 
    background-color: #595050;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100px; 
}



.button-container {
    gap: 15px; 
    padding: 10px 0; 

}



@media (min-width: 900px) {
    .carousel-container .carousel-item {
        display: none; 
        transition: transform 0.7s ease;
    }
    
    .carousel-container .carousel-item.active {
        display: block; 
        transform: scale(1.1); 
        z-index: 2; 
    }

   
}



/* For screens wider than 1200px, show 3 items */
@media (min-width: 1200px) {
    .carousel-container .carousel-item {
        display: none; /* Reset to hide all */
        transition: transform 0.7s ease;
        
       
    }
    .carousel-container .carousel-item.active {
        display: block; /* Show three items */
        
            transform: scale(1.1); /* Scale up the active item */
            z-index: 2; 
            
    }

   
}

