/*.carousel-container {
    padding-bottom: 10px;
    gap: 20px;
    flex-wrap: wrap;
} */


.carousel-container {
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    user-select: none;
    z-index: 3;
}

.left-arrow {
    left: 0;
    padding: var(--padding-10);
    
    
}

.right-arrow {
    right: 0;
    padding: var(--padding-10);
}

.carousel-item {
    display: none; 
    margin-right: 20px;
    height: 100%;

}




@media (min-width: 900px) {
    .carousel-container .carousel-item {
        display: none; /* Reset to hide all */
        transition: transform 0.7s ease;
    }
    
    .carousel-container .carousel-item.active {
        display: block; /* Show two items */
        transform: scale(1.1); /* Scale up the active item */
        z-index: 2; 
    }

   
}



/* For screens wider than 1200px, show 3 items */
@media (min-width: 1200px) {
    .carousel-container .carousel-item {
        display: none; /* Reset to hide all */
        transition: transform 0.7s ease;
        
       
    }
    .carousel-container .carousel-item.active {
        display: block; /* Show three items */
        
            transform: scale(1.1); /* Scale up the active item */
            z-index: 2; 
            
    }

   
}

