

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
ul,
p,
h1,
h2,
h3,
h4 {
  font-size: inherit;
  line-height: inherit;
  padding: 0 0;
  margin: 0 0;
}

body {
  position: relative;
  font-family: var(--montserrat);
  font-size: var(--size16);
  font-weight: var(--weight400);
  line-height: var(--lineheight);
  background: var(--white);
  color: var(--black);
  height: 100vh;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

main {
  flex: 1;
  gap: var(--gap-normal);
  max-width: 2000px;
  margin: 0 auto;
  width: 100%;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}




/*Adjust when media queries*/ 








