/* Desktop */


@media (min-width: 1200px)  {

header {
    padding: 30px;
    height: auto;
    
}

.navigation {
    position: static;
    display: flex;
    height: auto;
    background-color: transparent;
    width: 100%;
}


.navigation ul {
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    gap: 30px;
}

.links-header a {
    font-size: var(--size36);
}

.closing-btn,
.hamburger-container {
    display: none;
}

nav li::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0%; 
    height: 2px; 
    background-color: #53203e; 
    transition: width 0.3s ease; 
}

nav li:hover::after,
nav li:focus-within::after {
    width: 100%; 
}

nav a:hover,
nav a:focus {
    color: #652046; 
}

.logo-header{
    font-size: var(--size48);
    display: inline-block; 
    white-space: nowrap;
    
}



}
/* Posts */ 

@media (min-width: 630px) {
    
    .posts { /* Fill the page better on bigger screens*/
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px);

}

}

@media (min-width: 900px) {
    .posts {
        flex: 1 1 calc(33.333% - 20px); 
        max-width: calc(33.333% - 20px);
    }
    
    .modal-content {
    max-width: 600px;
}
}




/* Contact */ 
@media (min-width: 768px) {
    .contact-section {
      flex-direction: row; 
      justify-content: center;
      align-items: flex-start; 
    }
  
    .contact-section .form-section {
      width: 50%; 
      padding: 20px;
    }

    .contact-section img {
        width: 50%; 
        padding: 20px;
        max-width: 600px;
       
      }

    .contact-form {
        flex-grow: 1;
        width: 100%; 
        max-width: 600px; 
        
    }
  }


  @media (min-width: 900px) and (max-width: 1050px) {
    .h2-posts,
    .posts-carousel h2 {
        min-height: 7.2em; /* Increased min-height for 3 lines of text, to keep content aligned*/
    }
}

@media (min-width: 900px) {
    .carousel-container .carousel-item {
        display: none; 
        transition: transform 0.7s ease;
    }
    
    .carousel-container .carousel-item.active {
        display: block; 
        transform: scale(1.1); 
        z-index: 2; 
    }
    

    .love-container {
        
        max-width: 400px;
       
    }
   
}

