/* The Modal  */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
    background-color: rgba(0,0,0,0.4); 
     
    align-items: center; 
    justify-content: center;
}

.modal-content {
    width: 90%;
    object-fit: contain;
    max-width: 350px;
   
}

.close-modal {
    position: fixed;
    top: 10px;
    right: 35px;
    color: #201d1d;
    font-size: var(--size48);
    font-weight: var(--weight600);
    cursor: pointer;
}