
/* Header */

header {
    height: 90px;
    position: relative;
}

/* Nav */ 

nav {
    position: absolute;
    height: 100vh;
    width: 150px;
    top: 0px;
    z-index: 10;
    background-color: var(--post-color);
    right: -150px;
    padding: 20px 0 0 0;
    display: none;
}

nav ul {
    padding-top: 20px;
    gap: 15px;
    
}

nav a {
    padding: 10px 0;
}

.closing-btn {
    height: 40px;
    width: 40px;
}

.hamburger-wrap,
.closing-btn {
    cursor: pointer;
}

.hamburger-container {
    flex: 1;
}

/* Body */

button,
.button {
  background: #4C4B4B;
  font-family: var(--montserrat);
  color: white;
  font-size: var(--size16);
  margin-bottom: 20px;
  margin-top: 10px;
}

button {
    height: 40px;
    width: 120px;
}

/* Blog */

.posts {
    border-radius: var(--border-radius);
    background-color: var(--post-color);
    max-width: 350px;
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--boxshadow);
    
}

.posts img {
    width: auto;
    border-radius: var(--border-radius);
    padding: var(--padding-10);
}
.blogposts {
    gap: 20px;
}

.blogposts a, 
.blogposts img, 
.blogposts h2,
.blogposts h3,
.button {
    padding: var(--padding-10);
}

.blogposts h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: var(--weight600);
    font-size: var(--size20);
}
.h1-blog {
    padding: 30px;
    margin-bottom: 20px;
}

.button-blog {
    padding: 20px;
}

.blogposts h3 {
    font-weight: var(--weight500);
}

.sort-by {
    padding: var(--padding-10);
}

.sort-select {
    padding: var(--padding-10);
}


/*Post*/

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.post p {
    padding:20px;
}

.post h1,
.post h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.post h2 {
    font-weight: var(--weight500);
    font-size: var(--size24);
}

.button-back {
    margin-left: 15px;
}

.date-post {
    font-size: 0.8rem;
}

/* Hero */

.hero {
    width: 100%;
    
}

.under-hero {
    font-size: var(--size32);
}

/* Overlay */

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 80%;
    z-index: 5;
}

/* Home */ 




/* Footer */


.p-footer,
header a,
.hamburger-container,
footer a {
    padding: var(--padding-10);
} 


.hero h1 {
    padding: 20px;
}




