/* Flex and display for rendered content */

.blogposts,
.posts,
.posts-carousel,
.content-wrapper,
.post,
.love-carousel-slide {
    display: flex;
}

nav ul,
.posts,
.posts-carousel,
.content-wrapper,
.post {
    flex-direction: column;
}

.post,
.modal {
    justify-content: center;
}

.content-wrapper {
    justify-content: space-between;
}

.blogposts {
    justify-content: space-evenly;
}

.post,
.modal {
    align-items: center;
}

button,
.button {
    align-self: center;
}

.blogposts {
    flex-wrap: wrap;
}

.logo-header {
    display: inline-block; 
}

nav,
.carousel-item,
.modal {
    display: none;
}

.hamburger-container,
.content-wrapper {
    flex: 1;
}


.posts,
.posts-carousel {
    flex: 1 1 200px; 
}



/* Cursor */ 

.hamburger-wrap,
.closing-btn,
button,
.button,
.arrow,
.close-modal {
    cursor: pointer;
}


/* Paddings */

button,
.button,
.sort-by,
.sort-select,
.blogposts,
.blogposts a, 
.blogposts img, 
.blogposts h2,
.blogposts h3
.posts a, 
.posts img, 
.posts h2,
.posts h3,
.posts-carousel img, 
.posts-carousel h2,
.posts-carousel h3,
.p-footer,
header a,
.hamburger-container,
footer a,
.hero-h2,
.hero-p,
.errorMessage,
.successMessage,
input[type="text"],
input[type="email"],
textarea,
.about-section-1 h2, 
.about-section-1 p,
.about-h2,
.left-arrow,
.right-arrow {
    padding: var(--padding-10);
}

nav ul {
    padding-top: 20px;
}

nav a,
.button-container {
    padding: 10px 0;
}


nav {
    padding: 20px 0 0 0;
}

.h1-blog {
    padding: 30px;
}

.image-wrapper {
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    /*aspect-ratio: 16 / 9; Decided to go for the approach above, since aspect-ratio: is mostly supported of newer browsers*/
}

.content-wrapper,
.button-blog,
.post,
.post p,
.hero-h1,
.contact-form,
.carousel-container,
.love-carousel-item {
    padding: var(--padding-20);
}

.form-section h2,
.form-section p,
.contact-h2,
.contact-p {
    padding: var(--padding-15);
}

/* Widths */

header,
.hero,
.image-wrapper,
.image-wrapper img,
.overlay,
input[type="text"],
input[type="email"],
textarea,
.contact-section, 
.form-section,
.contact-form,
.modal {
    width: 100%;
}

.modal-content {
    width: 90%;
}


.contact-section img,
.about-wrap {
    width: 80%; 
}

.contact-section img,
.contact-form,
.modal-content {
    max-width: 350px;
}

nav {
    width: 150px;
}

.closing-btn {
    width: 40px;
}

.posts,
.posts-carousel {
    max-width: 340px; 
}

.post img {
    max-width: 250px;
}


.errorMessage,
.successMessage {
    width: 300px;
}

.img-hero {
    width: 150px;
}

.love-container {
    max-width: 300px;
}

.love-carousel-item {
    min-width: 100%; 
}


/* Heights */ 

header {
    height: 80px;
}

nav {
    height: 100vh;
}

.closing-btn {
    height: 40px;
}

.image-wrapper img,
.overlay,
.carousel-item,
.modal {
    height: 100%;
}

.modal-content {
    height: 90%;
}

.h2-posts {
    min-height: 4.8em;
}

.content-wrapper {
    min-height: 200px;
}

.post img {
    max-height: 350px;
}

.img-hero {
    height: 150px;
}

.contact-section img {
    height: auto; 
}

/* Z-index */

header {
    z-index: 6;
}

nav {
    z-index: 10;
}

.overlay {
    z-index: 5;
}

.modal {
    z-index: 15;
}

.arrow {
    z-index: 3;
}


/* Margins */


button,
.button,
.h1-blog,
.contact-section, 
.form-section,
.contact-section img,
.h1-contact {
    margin-bottom: 20px;
}

button,
.button,
.about-wrap {
    margin-top: 20px;
}

.button-blog {
    margin-top: auto;
}

.post h1,
.post h2 {
    margin-top: 15px;
}


.button-back {
    margin-left: 15px;
}


input[type="text"],
input[type="email"],
textarea {
  margin: 8px 0;
}

.contact-form {
    margin: 0 auto; 
}

.love-container {
    margin: auto;
}

.about-wrap {
    margin-bottom: 40px; 
    
}


.about-h1,
.about-h2,
.post h1,
.post h2 {
    margin-bottom: 15px; 
}

.carousel-container {
    margin-bottom: 30px;
}



/* Gap */

nav ul,
.button-container {
    gap: 15px;
}

.about-wrap,
.blogposts,
.post,
.about-wrap {
    gap: var(--gap-nomral)
}

.carousel-container {
    gap: 30px;
} 



/* Border-radius, Object-fit, Opacity, Background, Whitespace, Border & Box-sizing*/ 

.logo-header {
    white-space: nowrap;
}


.hamburger-wrap {
    background: none;
    border: none; 
    
}


.posts,
.posts-carousel,
.love-container {
    overflow: hidden; 
}

.modal {
    overflow: auto; 
}


.image-wrapper {
    background-size: cover;
}

.image-wrapper img {
    object-fit: cover;
}



.overlay {
    opacity: 80%;
}


input[type="text"],
input[type="email"],
textarea {
    border-radius: 4px;
}


input[type="text"],
input[type="email"],
textarea
.love-carousel-item {
    box-sizing: border-box;
}


.contact-form {
    border-radius: 8px; 
}



.img-hero,
.modal-content {
    object-fit: contain;
}

.img-hero {
    border-radius: 50%;
}


/* Transition / Transform */

.arrow {
    transform: translateY(-50%);
}


.love-carousel-slide {
    transition: transform 0.5s ease-in-out;
}
