
/* Shared styles */ 

.hamburger-wrap,
.closing-btn,
button,
.button {
    cursor: pointer;
}


/* Paddings */

button,
.button,
.sort-by,
.sort-select,
.blogposts,
.blogposts a, 
.blogposts img, 
.blogposts h2,
.blogposts h3
.posts a, 
.posts img, 
.posts h2,
.posts h3,
.posts-carousel img, 
.posts-carousel h2,
.posts-carousel h3,
.p-footer,
header a,
.hamburger-container,
footer a,
.hero-h2,
.hero-p,
.errorMessage,
.successMessage,
input[type="text"],
input[type="email"],
textarea,
.about-section-1 h2, 
.about-section-1 p,
.about-h2 {
    padding: var(--padding-10);
}

nav ul {
    padding-top: 20px;
}

nav a {
    padding: 10px 0;
}

nav {
    padding: 20px 0 0 0;
}

.h1-blog {
    padding: 30px;
}

.image-wrapper {
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    /*aspect-ratio: 16 / 9; Decided to go for the approach above, since aspect-ratio: is mostly supported of newer browsers*/
}

.content-wrapper,
.button-blog,
.post,
.post p,
.hero-h1,
.contact-form {
    padding: 20px;
}

.form-section h2,
.form-section p,
.contact-h2,
.contact-p {
    padding: 15px;
}

/* Widths */

header,
.hero,
.image-wrapper,
.image-wrapper img,
.overlay,
input[type="text"],
input[type="email"],
textarea,
.contact-section, 
.form-section,
.contact-form  {
    width: 100%;
}


.contact-section img {
    width: 80%; 
}

.contact-section img,
.contact-form {
    max-width: 350px;
}

nav {
    width: 150px;
}

.closing-btn {
    width: 40px;
}

.posts,
.posts-carousel {
    max-width: 340px; 
}

.post img {
    max-width: 250px;
}


.errorMessage,
.successMessage {
    width: 300px;
}

.img-hero {
    width: 150px;
}


/* Heights */ 

header {
    height: 80px;
}

nav {
    height: 100vh;
}

.closing-btn {
    height: 40px;
}

.image-wrapper img,
.overlay {
    height: 100%;
}

.h2-posts {
    min-height: 4.8em;
}

.content-wrapper {
    min-height: 200px;
}

.post img {
    max-height: 350px;
}

.img-hero {
    height: 150px;
}

.contact-section img {
    height: auto; 
}

/* Z-index */

header {
    z-index: 6;
}

nav {
    z-index: 10;
}

.overlay {
    z-index: 5;
}

.modal {
    z-index: 15;
}


/* Others */ 
.logo-header {
    white-space: nowrap;
}


/* Nav */ 


nav ul {
    gap: 15px;
}


.hamburger-container {
    flex: 1;
}

/* Body */

button,
.button {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



.hamburger-wrap {
    background: none;
    border: none; 
    
}

/* Blog */



.h1-blog {
    margin-bottom: 20px;
}



.blogposts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.posts,
.posts-carousel {
    
    flex: 1 1 200px; 
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.image-wrapper {
    position: relative;
    background-size: cover;
    background-position: center;
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; 
}

.button-blog {
    margin-top: auto;
}


/*Post*/

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.post h1,
.post h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    
}


.button-back {
    margin-left: 15px;
}



/* Overlay */

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 80%;
}




/* Contact*/


.successMessage,
.errorMessage {
    display: inline-block;
}


input[type="text"],
input[type="email"],
textarea {
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box; 
}

.h1-contact {
    margin-bottom: 20px;
}


.contact-section, 
.form-section {
    margin-bottom: 20px;
}



.contact-form {
    margin: 0 auto; 
    border-radius: 8px; 
}

.contact-section img {
    height: auto; 
    margin-bottom: 20px; 
}

/* Footer */


.img-hero {
  border-radius: 50%;
  object-fit: contain;
  
}


/* About */ 

.about-wrap {
    gap: 20px; 
    margin-bottom: 40px; 
    
}


.about-h1,
.about-h2 {
    margin-bottom: 15px; 
}


.about-wrap {
    max-width: 80%;
    margin-top: 20px;
}



